.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: space-between;
     padding: 10px;
}
.card > div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 23%;
  margin-right: 5px;
  margin-top: 10px;

}
.card > div > img {
  width: 100%;
  height: 250px;
}
